<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <contextName>Desafio</contextName>
  <jmxConfigurator/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level %logger{360} - %msg%n
      </Pattern>
    </encoder>
  </appender>
  

  <logger name="org.hibernate.SQL" level="INFO"/>
  <logger name="org.hibernate.type" level="INFO"/>
  <logger name="org.springframework.security" level="INFO"/>
  <logger name="org.springframework.aop" level="INFO"/>
  <logger name="org.springframework" level="INFO"/>
  <logger name="br.com.pitang.desafio" level="DEBUG"/>
  

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
